@custom-font: 'Dosis', sans-serif;

html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: @custom-font;
	padding: 0;
}

#spc-leftMenu{
	.spc-logoTitle{
		display: block;
		font-size: 2.5em;
		padding-top: 10px;
		padding-left: 5px;
	}
	width: 15%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: #03396c;
}

#spc-mainWindow{
	width: 85%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}