@custom-font: 'Dosis', sans-serif;

html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: @custom-font;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

#spc-leftMenu{
	// .spc-logoTitle{
	// 	display: block;
	// 	font-size: 2.5em;
	// 	padding-top: 10px;
	// 	padding-left: 5px;
	// }
	a{
		color: black;
		text-decoration: none;
	}
	width: 8%;
	position: absolute;
	top: 0;
	ul{
		list-style-type: none;
		padding-left: 0;
		font-size: 1.3em;
		text-align: center;
	}
	left: 0;
	bottom: 0;
	background-color: #747E80;
}

#spc-mainWindow{
	width: 92%;
	position: absolute;
	top: 0;
	background-color: #D5E1DD;
	right: 0;
	bottom: 0;
}

.spc-chatboxes{
	position: absolute;
	bottom: 0;
	.spc-messages{
		height: 200px;
		overflow-y: auto; 
	}
	margin-left: 15px;
	border: black solid 1px;
}

canvas
{
	border: solid black 1px;
}

.systems{
	border: none;
	background-image: url('../images/starsbg.png');
}