<section id="spc-leftMenu">
	<span class="spc-logoTitle">MasterBrain</span>
	<ul>
		<li>{{#link-to 'users'}}Users{{/link-to}}</li>
		<li>{{#link-to 'chats'}}Chatbox{{/link-to}}</li>
	</ul>
</section>

<section id="spc-mainWindow">
	{{outlet}}
</section>