<section id="spc-leftMenu">
	
	<ul>
		<li>{{#link-to 'users'}}Users{{/link-to}}</li>
		<li class="spc-chat-link">{{#link-to 'chats'}}Chatbox{{/link-to}}</li>
	</ul>
</section>

<section id="spc-mainWindow">
	{{outlet}}
</section>