<div class="spc-chatboxes">
	<div class="spc-title">
		<span class="title">Communications</span>
	</div>
	<div class="spc-messages">
	</div>
	<div class="spc-input">
		{{input class="chatInput" name="message" action='sendMessage' }}
	</div>
</div>	
